@import "./sliding.css";

@tailwind base;
@tailwind components;

@font-face {
    font-family: 'Inter Bold';
    src: local('Inter Bold'), url('./assets/fonts/Inter-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'Elgoc Thin';
    src: local('Elgoc'), url('./assets/fonts/Elgoc-Thin.otf') format('otf');
}

@font-face {
    font-family: 'Elgoc Thin Alt';
    src: local('Elgoc'), url('./assets/fonts/ElgocAlt-Thin.otf') format('otf');
}

@tailwind utilities;

